body {
  background-color: #c15fff;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  opacity: 0.9;
  font-size: 1rem;
  color: #ffffff;
  background: #090b2b;
  box-shadow: 1px 3px 6px 0px #29272791;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: #ff5ff3;
}

/* Set a grey background color and center the text of the "home" section */
.home {
  background-color: #f1f1f1;
  text-align: center;
}

form {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
